# Python cache
__pycache__/
*.py[cod]

# virtual env
.venv/
venv/
env/

# logs
logs/
*.log

# IDE / editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Chrome temp/profile
.tmp_chrome_profile*/
*.crdownload

# WebDriver binárisok (ha nem akarod verziózni)
chromedriver*
geckodriver*

# Secrets / config
.env
